<h1>About</h1>
<p>This website displays heroes from the game Overwatch. It was created using an API and is stored into tables inside a database, these tables are called characters and class.
For the characters table using name to grab the name of the hero, difficulty to grab the difficulty of the hero, image to grab the image, and description to grab the discription
of the character. The class table will only be grabing the hero's class which is defined by name on the table with a one to many relationship between the tables because you can
have one class but there are many characters in the class. Below shows an ERD rerpresentation of the tables and relationship between them.
</p>

 <%= image_tag "ERD.png" %>
<p>API used: <a href="https://github.com/isaacmillercodes/overwatch-hero-api" class="link-info">Overwatch API</a></p>